@{
    ViewBag.Title = "Do you have a question?";
}
<h3>@ViewBag.Title.</h3>
@*<h3>@ViewBag.Message</h3>*@

<address>
    300 Sherman Ave<br />
    Lexington, KY 40502<br />
    <abbr title="Phone">Phone:</abbr>
    859-270-7061
</address>
<img src="~/img/help.png" alt="" height="170" style="float:right" />
<address>
    <strong>Support:</strong>   <a href="mailto:kodjo@livinggodtabernacle.org">kodjo@livinggodtabernacle.org</a><br />
    <strong>Support:</strong>   <a href="http://livinggodtabernacle.org/">LivingGodTabernacle.org</a>
</address>