@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
        <img src="~/img/img.png" alt="" height="150px" style="float:right" />
    
    <h2>Welcome to Living God Tabernacle Management App</h2>
  
    <h6>
        300 Sherman Ave<br />
        Lexington, KY 40502<br />
        <abbr title="Phone">Phone:</abbr>
        859-270-7061
    </h6>
    <p><a href="/Home/Contact" class="btn btn-success">Please clik here for help &raquo;</a></p>

</div>
